<link rel='stylesheet' href='/stylesheets/form1.css' />

<script>
window.onload = () => {
    $(document).ready(() => {
        $('.yes-blank').hide();
        var fieldsArray = ['#primaryOfficerListed',
        '#primaryOfficerBroker',
        '#primaryShareholderBroker',
        '#primaryExistingAccount',
        '#primaryAnotherAccount']
        console.log(fieldsArray);
        for (var i = 0; i < fieldsArray.length; i++) {
            console.log(i, fieldsArray[i]);
            if ($(fieldsArray[i]).siblings('.yes-blank').val() !== "") {
                $(fieldsArray[i]).attr('checked', 'checked');
                $(fieldsArray[i]).siblings('.yes-blank').show()
            }
            $(fieldsArray[i]).change(function()
            {
              if ($(this).is(':checked')) {
                  $(this).siblings('.yes-blank').show()
              } else {
                $(this).siblings('.yes-blank').val("")
                $(this).siblings('.yes-blank').hide()
              };
            });
        }
    })
}
</script>

<div id="all">
    {{#if error}}
        {{#each error}}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        {{/each}}
    {{/if}}
    <h3>Primary Account Holder Information</h3>
    <form action="/form1" method="post" id="form1">
        <table id="table1">
          <tr>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Juanita" value="{{info.primaryFirstName}}" name="primaryFirstName" type="text" id="primaryFirstName" class="form-control">
                    <label for="primaryFirstName">First Name</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Ocampo" value="{{info.primaryMiddleName}}" name="primaryMiddleName" type="text" id="primaryMiddleName" class="form-control">
                    <label for="primaryMiddleName">Middle Name</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Reyes" value="{{info.primaryLastName}}" name="primaryLastName" type="text" id="primaryLastName" class="form-control">
                    <label for="primaryLastName">Last Name</label>
                </div>
            </td>
          </tr>
          <tr>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="123456789" value="{{info.primaryTin}}" name="primaryTin" type="text" id="primaryTin" class="form-control">
                    <label for="primaryTin">TIN No.</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="123456789" value="{{info.primarySSS}}" name="primarySSS" type="text" id="primarySSS" class="form-control">
                    <label for="primarySSS">GSIS/SSS</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="12/06/1994" value="{{info.primaryDateOfBirth}}" name="primaryDateOfBirth" type="text" id="primaryDateOfBirth" class="form-control">
                    <label for="primaryDateOfBirth">Date of Birth</label>
                </div>
            </td>
          </tr>
          <tr class="special-tr">
            <td colspan="2" class="form-input">
                <div class="radio-options">
                    <div class="radio-label">Gender: </div>
                    <div class="form-group radio-items">
                        {{#if radio.male}}
                        <input name="primaryGender" type="radio" id="male" value="male" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="male" value="male">
                        {{/if}}
                        <label for="male">Male</label>
                    </div>
                    <div class="form-group radio-items">
                        {{#if radio.female}}
                        <input name="primaryGender" type="radio" id="female" value="female" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="female" value="female">
                        {{/if}}
                        <label for="female">Female</label>
                    </div>
                    <div class="form-group radio-items">
                        {{#if radio.other}}
                        <input name="primaryGender" type="radio" id="other" value="other" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="other" value="other">
                        {{/if}}
                        <label for="other">Other</label>
                    </div>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <div class="radio-label">Civil Status:</div>
                    <select name="primaryCivilStatus">
                        {{#if radio.single}}
                        <option value="single" selected>Single</option>
                        {{else}}
                        <option value="single">Single</option>
                        {{/if}}
                        {{#if radio.married}}
                        <option value="married" selected>Married</option>
                        {{else}}
                        <option value="married">Married</option>
                        {{/if}}
                        {{#if radio.widowed}}
                        <option value="widowed" selected>Widowed</option>
                        {{else}}
                        <option value="widowed">Widowed</option>
                        {{/if}}
                    </select>
                </div>
            </td>
          </tr>
          <tr><br>
              <td class="form-input"></td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="22 Ginger Street" value="{{info.primaryNumberAndStreet}}" name="primaryNumberAndStreet" type="text" id="primaryNumberAndStreet" class="form-control">
                      <label for="primaryNumberAndStreet">Number and Street</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="Saint Matthew Village" value="{{info.primarySubdivision}}" name="primarySubdivision" type="text" id="primarySubdivision" class="form-control">
                      <label for="primarySubdivision">Building / Subdivision</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="Quezon City" value="{{info.primaryCity}}" name="primaryCity" type="text" id="primaryCity" class="form-control">
                      <label for="primaryCity">City</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="Metro Manila" value="{{info.primaryProvince}}" name="primaryProvince" type="text" id="primaryProvince" class="form-control">
                      <label for="primaryProvince">Province</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="1234" value="{{info.primaryZipcode}}" name="primaryZipcode" type="text" id="primaryZipcode" class="form-control">
                      <label for="primaryZipcode">Postal / Zip Code</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td colspan="2"class="form-input">
                  <div class="md-form">
                      <input placeholder="Barangay Saint Matthew" value="{{info.primaryTownAndDistrict}}" name="primaryTownAndDistrict" type="text" id="primaryTownAndDistrict" class="form-control">
                      <label for="primaryTownAndDistrict">Town and District</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
              </td>
          </tr>
          <tr class="special-tr">
              <td colspan="3" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Birth: </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryPH}}
                          <input name="primaryBirthCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="birthCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryUSA}}
                          <input name="primaryBirthCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="birthCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryOther}}
                          <input name="primaryBirthCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="birthCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr class="special-tr">
              <td colspan="3" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Residency: </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryPH}}
                          <input name="primaryResidenceCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="residenceCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryUSA}}
                          <input name="primaryResidenceCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="residenceCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryOther}}
                          <input name="primaryResidenceCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="residenceCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr class="special-tr">
              <td colspan="3" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Citizenship: </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryPH}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="citizenshipCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryUSA}}
                          <input name="primaryCitizenshipCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="citizenshipCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryOther}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="citizenshipCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="+(country code)(area code)(number); ex. +6329999999" value="{{info.primaryTelephone}}" name="primaryTelephone" type="text" id="primaryTelephone" class="form-control">
                      <label for="primaryTelephone">Telephone Number</label>
                  </div>
              </td>
          </tr>
          <tr class="special-tr">
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="+(country code)(area code)(number); ex. +639179999999" value="{{info.primaryMobile}}" name="primaryMobile" type="text" id="primaryMobile" class="form-control">
                      <label for="primaryMobile">Mobile Number</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="radio-label">Email:</div>{{user.username}}
              </td>
          </tr>
          <tr>
              <td colspan="3" class="form-input">
                  <div class="md-form">
                      <input placeholder="Sales Representative" value="{{info.primaryOccupation}}" name="primaryOccupation" type="text" id="primaryOccupation" class="form-control">
                      <label for="primaryOccupation">Occupation</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="Delightful Company Inc." value="{{info.primaryEmployer}}" name="primaryEmployer" type="text" id="primaryEmployer" class="form-control">
                      <label for="primaryEmployer">Employer/Company</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="+(country code) (area code) (number); ex. +639179999999" value="{{info.primaryBusinessContact}}" name="primaryBusinessContact" type="text" id="primaryBusinessContact" class="form-control">
                      <label for="primaryContact">Business Number</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <span class="radio-label">Status:</span>
                  <select name="primaryEmploymentStatus">
                      {{#if radio.employed}}
                      <option value="Employed" selected>Employed</option>
                      {{else}}
                      <option value="Employed">Employed</option>
                      {{/if}}
                      {{#if radio.unemployed}}
                      <option value="Unemployed" selected>Unemployed</option>
                      {{else}}
                      <option value="Unemployed">Unemployed</option>
                      {{/if}}
                      {{#if radio.ofw}}
                      <option value="OFW" selected>OFW</option>
                      {{else}}
                      <option value="OFW">OFW</option>
                      {{/if}}
                      {{#if radio.selfemployed}}
                      <option value="Self-Employed" selected>Self-Employed</option>
                      {{else}}
                      <option value="Self-Employed">Self-Employed</option>
                      {{/if}}
                      {{#if radio.student}}
                      <option value="Student" selected>Student</option>
                      {{else}}
                      <option value="Student">Student</option>
                      {{/if}}
                      {{#if radio.retired}}
                      <option value="Retired" selected>Retired</option>
                      {{else}}
                      <option value="Retired">Retired</option>
                      {{/if}}
                      {{#if radio.homemaker}}
                      <option value="Homemaker" selected>Homemaker</option>
                      {{else}}
                      <option value="Homemaker">Homemaker</option>
                      {{/if}}
                      {{#if radio.otherEmployment}}
                      <option value="Other" selected>Other</option>
                      {{else}}
                      <option value="Other">Other</option>
                      {{/if}}
                  </select>
              </td>
              <td class="form-input">
                  <span class="radio-label">Business Type:</span>
                  <select name="primaryNatureOfBusiness">
                      {{#if radio.agriaqua}}
                      <option value="Agri/Aqua" selected>Agri/Aqua</option>
                      {{else}}
                      <option value="Agri/Aqua">Agri/Aqua</option>
                      {{/if}}
                      {{#if radio.consultancy}}
                      <option value="Consultancy" selected>Consultancy</option>
                      {{else}}
                      <option value="Consultancy">Consultancy</option>
                      {{/if}}
                      {{#if radio.entertainment}}
                      <option value="Entertainment" selected>Entertainment</option>
                      {{else}}
                      <option value="Entertainment">Entertainment</option>
                      {{/if}}
                      {{#if radio.finance}}
                      <option value="Finance" selected>Finance</option>
                      {{else}}
                      <option value="Finance">Finance</option>
                      {{/if}}
                      {{#if radio.gov}}
                      <option value="Government Service" selected>Government Service</option>
                      {{else}}
                      <option value="Government Service">Government Service</option>
                      {{/if}}
                      {{#if radio.mining}}
                      <option value="Mining" selected>Mining</option>
                      {{else}}
                      <option value="Mining">Mining</option>
                      {{/if}}
                      {{#if radio.transportation}}
                      <option value="Transportation" selected>Transportation</option>
                      {{else}}
                      <option value="Transportation">Transportation</option>
                      {{/if}}
                      {{#if radio.communication}}
                      <option value="Communication" selected>Communication</option>
                      {{else}}
                      <option value="Communication">Communication</option>
                      {{/if}}
                      {{#if radio.banking}}
                      <option value="Banking" selected>Banking</option>
                      {{else}}
                      <option value="Banking">Banking</option>
                      {{/if}}
                      {{#if radio.brokerage}}
                      <option value="Brokerage" selected>Brokerage</option>
                      {{else}}
                      <option value="Brokerage">Brokerage</option>
                      {{/if}}
                      {{#if radio.education}}
                      <option value="Education" selected>Education</option>
                      {{else}}
                      <option value="Education">Education</option>
                      {{/if}}
                      {{#if radio.food}}
                      <option value="Food" selected>Food</option>
                      {{else}}
                      <option value="Food">Food</option>
                      {{/if}}
                      {{#if radio.manufacturing}}
                      <option value="Manufacturing" selected>Manufacturing</option>
                      {{else}}
                      <option value="Manufacturing">Manufacturing</option>
                      {{/if}}
                      {{#if radio.medical}}
                      <option value="Medical" selected>Medical</option>
                      {{else}}
                      <option value="Medical">Medical</option>
                      {{/if}}
                      {{#if radio.wholesale}}
                      <option value="Wholesale/Retail" selected>Wholesale/Retail</option>
                      {{else}}
                      <option value="Wholesale/Retail">Wholesale/Retail</option>
                      {{/if}}
                      {{#if radio.utilities}}
                      <option value="Utilities" selected>Utilities</option>
                      {{else}}
                      <option value="Utilities">Utilities</option>
                      {{/if}}
                      {{#if radio.otherNature}}
                      <option value="Other" selected>Other</option>
                      {{else}}
                      <option value="Other">Other</option>
                      {{/if}}
                  </select>
              </td>
          </tr>
          <tr>
              <td class="form-input">&nbsp;</td>
          </tr>
          <tr>
              <td class="form-input">&nbsp;</td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="22 Carrot Street" value="{{info.primaryBusinessNumberAndStreet}}" name="primaryBusinessNumberAndStreet" type="text" id="primaryBusinessNumberAndStreet" class="form-control">
                      <label for="primaryBusinessNumberAndStreet">Number and Street</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="Saint Matthew Building" value="{{info.primaryBusinessSubdivision}}" name="primaryBusinessSubdivision" type="text" id="primaryBusinessSubdivision" class="form-control">
                      <label for="primarySubdivision">Building / Subdivision</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="Quezon City" value="{{info.primaryBusinessCity}}" name="primaryBusinessCity" type="text" id="primaryBusinessCity" class="form-control">
                      <label for="primaryBusinessCity">City</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="Metro Manila" value="{{info.primaryBusinessProvince}}" name="primaryBusinessProvince" type="text" id="primaryBusinessProvince" class="form-control">
                      <label for="primaryBusinessProvince">Province</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="1234" value="{{info.primaryBusinessZipcode}}" name="primaryBusinessZipcode" type="text" id="primaryBusinessZipcode" class="form-control">
                      <label for="primaryBusinessZipcode">Postal / Zip Code</label>
                  </div>
              </td>
          </tr>
          <tr class="special-tr">
              <td colspan="2"class="form-input">
                  <div class="md-form">
                      <input placeholder="Business District" value="{{info.primaryBusinessTownAndDistrict}}" name="primaryBusinessTownAndDistrict" type="text" id="primaryBusinessTownAndDistrict" class="form-control">
                      <label for="primaryBusinessTownAndDistrict">Town and District</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
                  <div class="radio-label">Mail Preference:</div>
                  <select name="primaryPreferredAddress">
                      {{#if radio.home}}
                      <option value="Home" selected>Home</option>
                      {{else}}
                      <option value="Home">Home</option>
                      {{/if}}
                      {{#if radio.business}}
                      <option value="Business/Office" selected>Business/Office</option>
                      {{else}}
                      <option value="Business/Office">Business/Office</option>
                      {{/if}}
                  </select>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Business: </div>
                      <div class="form-group radio-items">
                          {{#if radio.businessCountryPH}}
                          <input name="primaryBusinessCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryBusinessCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="businessCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.businessCountryUSA}}
                          <input name="primaryBusinessCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryBusinessCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="businessCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.businessCountryOther}}
                          <input name="primaryBusinessCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryBusinessCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="businessCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr>
              <td colspan="1" class="form-input">
                  <div class="radio-label">Are you a director/corporate officer of a PSE-listed company?</div>
                  <div class="form-group radio-items">
                      <br>
                      <input class="yes-option" id="primaryOfficerListed"  type="checkbox" value="Yes"> Yes
                      <input name="primaryOfficerListed" placeholder="Please specify" class="yes-blank" type="text" value="{{info.primaryOfficerListed}}">
                  </div>
              </td>
              <td colspan="1" class="form-input">
                  <div class="radio-label">Are you a director/corporate officer or employee of another broker/dealer?</div>
                  <div class="form-group radio-items">
                      <br>
                      <div>
                          <input class="yes-option" id="primaryOfficerBroker" type="checkbox" value="Yes"> Yes
                          <input name="primaryOfficerBroker" placeholder="Please specify company" class="yes-blank" type="text" value="{{info.primaryOfficerBroker}}">
                      </div>
                  </div>
              </td>
              <td colspan="1" class="form-input">
                  <div class="radio-label">Are you a shareholder of another broker/dealer?</div>
                  <div class="form-group radio-items">
                      <br>
                      <input class="yes-option" id="primaryShareholderBroker" type="checkbox" value="Yes"> Yes
                      <input name="primaryShareholderBroker" placeholder="Please specify company" class="yes-blank" type="text" value="{{info.primaryShareholderBroker}}">
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="radio-label">&nbsp;<br>&nbsp;</div>
              </td>
          </tr>
          <tr>
              <td colspan="1" class="form-input">
                  <div class="radio-label">Do you have an existing COL Account?</div>
                  <div class="form-group radio-items">
                      <br>
                      <input class="yes-option" id="primaryExistingAccount"  type="checkbox" value="Yes"> Yes
                      <input name="primaryExistingAccount" placeholder="Please list account numbers" class="yes-blank" type="text" value="{{info.primaryExistingAccount}}">
                  </div>
              </td>
              <td colspan="1" class="form-input">
                  <div class="radio-label">Do you have an account with another broker?</div>
                  <div class="form-group radio-items">
                      <br>
                      <div>
                          <input class="yes-option" id="primaryAnotherAccount" type="checkbox" value="Yes"> Yes
                          <input name="primaryAnotherAccount" placeholder="Please list broker number" class="yes-blank" type="text" value="{{info.primaryAnotherAccount}}">
                      </div>
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="radio-label">&nbsp;<br>&nbsp;</div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <span class="radio-label">Assets:</span>
                  <select name="primaryAssets">
                      {{#if radio.asset500k}}
                      <option value="< 500,000" selected>Less than 500,000</option>
                      {{else}}
                      <option value="< 500,000">Less than 500,000</option>
                      {{/if}}
                      {{#if radio.asset1m}}
                      <option value="< 1 million" selected>Less than 1 million</option>
                      {{else}}
                      <option value="< 1 million">Less than 1 million</option>
                      {{/if}}
                      {{#if radio.asset5m}}
                      <option value="< 5 million" selected>Less than 5 million</option>
                      {{else}}
                      <option value="< 5 million">Less than 5 million</option>
                      {{/if}}
                      {{#if radio.asset10m}}
                      <option value="< 10 million" selected>Less than 10 million</option>
                      {{else}}
                      <option value="< 10 million">Less than 10 million</option>
                      {{/if}}
                      {{#if radio.asset10mplus}}
                      <option value="> 10 million" selected>Greater than 10 million</option>
                      {{else}}
                      <option value="> 10 million">Greater than 10 millioin</option>
                      {{/if}}
                  </select>
              </td>
              <td class="form-input">
                  <span class="radio-label">Net Worth (assets - liabilities):</span>
                  <select name="primaryNetWorth">
                      {{#if radio.net500k}}
                      <option value="< 500,000" selected>Less than 500,000</option>
                      {{else}}
                      <option value="< 500,000">Less than 500,000/option>
                      {{/if}}
                      {{#if radio.net1m}}
                      <option value="< 1 million" selected>Less than 1 million</option>
                      {{else}}
                      <option value="< 1 million">Less than 1 million/option>
                      {{/if}}
                      {{#if radio.net5m}}
                      <option value="< 5 million" selected>Less than 5 million</option>
                      {{else}}
                      <option value="< 5 million">Less than 5 million/option>
                      {{/if}}
                      {{#if radio.net10m}}
                      <option value="< 10 million" selected>Less than 10 million</option>
                      {{else}}
                      <option value="< 10 million">Less than 10 million/option>
                      {{/if}}
                      {{#if radio.net10mplus}}
                      <option value="> 10 million" selected>Greater than 10 million</option>
                      {{else}}
                      <option value="> 10 million">Greater than 10 millioin</option>
                      {{/if}}
                  </select>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="radio-label">&nbsp;<br>&nbsp;</div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <span class="radio-label">Annual Income:</span>
                  <select name="primaryAnnualIncome">
                      {{#if radio.income200k}}
                      <option value="< 200,000" selected>Less than 200,000</option>
                      {{else}}
                      <option value="< 200,000">Less than 200,000</option>
                      {{/if}}
                      {{#if radio.income500k}}
                      <option value="< 500,000" selected>Less than 500,000</option>
                      {{else}}
                      <option value="< 500,000">Less than 500,000</option>
                      {{/if}}
                      {{#if radio.income1m}}
                      <option value="< 1 million" selected>Less than 1 million</option>
                      {{else}}
                      <option value="< 1 million">Less than 1 million</option>
                      {{/if}}
                      {{#if radio.income1mplus}}
                      <option value="> 1 million" selected>Greater than 1 million</option>
                      {{else}}
                      <option value="> 1 million">Greater than 1 million</option>
                      {{/if}}
                  </select>
              </td>
              <td class="form-input">
                  <span class="radio-label">Sources of Income:</span>
                  <select name="primarySourcesOfIncome">
                      {{#if radio.sourceSalary}}
                      <option value="salary" selected>Salary</option>
                      {{else}}
                      <option value="salary">Salary</option>
                      {{/if}}
                      {{#if radio.sourceRetirement}}
                      <option value="retirement" selected>Retirement/Pension</option>
                      {{else}}
                      <option value="retirement">Retirement/Pension</option>
                      {{/if}}
                      {{#if radio.sourceBusiness}}
                      <option value="business" selected>Business</option>
                      {{else}}
                      <option value="business">Business</option>
                      {{/if}}
                      {{#if radio.sourceInheritance}}
                      <option value="family" selected>Family/Remittance</option>
                      {{else}}
                      <option value="family">Family/Remittance</option>
                      {{/if}}
                      {{#if radio.sourceInvestments}}
                      <option value="investments" selected>Investments</option>
                      {{else}}
                      <option value="investments">Investments</option>
                      {{/if}}
                  </select>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="radio-label">&nbsp;<br>&nbsp;</div>
              </td>
          </tr>
          <tr>
              <td class="form-input">
                  <span class="radio-label">Annual Income:</span>
                  <select name="primaryExperience">
                      {{#if radio.none}}
                      <option value="None" selected>None</option>
                      {{else}}
                      <option value="None">None</option>
                      {{/if}}
                      {{#if radio.limited}}
                      <option value="Limited" selected>Limited</option>
                      {{else}}
                      <option value="Limited">Limited</option>
                      {{/if}}
                      {{#if radio.good}}
                      <option value="Good" selected>Good</option>
                      {{else}}
                      <option value="Good">Good</option>
                      {{/if}}
                      {{#if radio.extensive}}
                      <option value="Extensive" selected>Extensive</option>
                      {{else}}
                      <option value="Extensive">Extensive</option>
                      {{/if}}
                  </select>
              </td>
              <td class="form-input">
                  <span class="radio-label">Sources of Income:</span>
                  <select name="primaryObjectives">
                      {{#if radio.preservation}}
                      <option value="Capital Preservation" selected>Capital Preservation</option>
                      {{else}}
                      <option value="Capital Preservation">Capital Preservation</option>
                      {{/if}}
                      {{#if radio.longterm}}
                      <option value="Long Term Investment" selected>Long Term Investment</option>
                      {{else}}
                      <option value="Long Term Investment">Long Term Investment</option>
                      {{/if}}
                      {{#if radio.growth}}
                      <option value="Growth" selected>Growth</option>
                      {{else}}
                      <option value="Growth">Growth</option>
                      {{/if}}
                      {{#if radio.speculation}}
                      <option value="Speculation" selected>Speculation</option>
                      {{else}}
                      <option value="Speculation">Speculation</option>
                      {{/if}}
                  </select>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="radio-label">&nbsp;<br>&nbsp;</div>
              </td>
          </tr>
          <tr>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Bank of the Philippine Islands" value="{{info.bankName}}" name="bankName" type="text" id="bankName" class="form-control">
                    <label for="bankName">Bank Name</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Manila" value="{{info.bankBranch}}" name="bankBranch" type="text" id="bankBranch" class="form-control">
                    <label for="bankBranch">Bank Branch</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="1234567890" value="{{info.bankNumber}}" name="bankNumber" type="text" id="bankNumber" class="form-control">
                    <label for="bankNumber">Bank Number</label>
                </div>
            </td>
          </tr>
        </table>
        <div>
            <a href="/form0"><button class="back-button" type="button" id="verify-edit">Back</button></a>
            <input type="submit"  class="form-button" id="form1-submit" value="Next">
        </div>
    </form>

</div>
