<link rel='stylesheet' href='/stylesheets/form1.css' />

<script>
window.onload = () => {
    $(document).ready(() => {
    })
}
</script>

<div id="all">
    {{#if error}}
        {{#each error}}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        {{/each}}
    {{/if}}
    <h3>Primary Account Holder Information</h3>
    <form action="/form1" method="post" id="form1">
        <table id="table1">
          <tr>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Jojo Jayjay" value="{{info.primaryFirstName}}" name="primaryFirstName" type="text" id="primaryFirstName" class="form-control">
                    <label for="primaryFirstName">First Name</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Coolguy" value="{{info.primaryMiddleName}}" name="primaryMiddleName" type="text" id="primaryMiddleName" class="form-control">
                    <label for="primaryMiddleName">Middle Name</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="Brown" value="{{info.primaryLastName}}" name="primaryLastName" type="text" id="primaryLastName" class="form-control">
                    <label for="primaryLastName">Last Name</label>
                </div>
            </td>
          </tr>
          <tr>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="123 456 789" value="{{info.primaryTin}}" name="primaryTin" type="text" id="primaryTin" class="form-control">
                    <label for="primaryTin">TIN No.</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="123 456 789" value="{{info.primarySSS}}" name="primarySSS" type="text" id="primarySSS" class="form-control">
                    <label for="primarySSS">GSIS/SSS</label>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    <input placeholder="12/06/1994" value="{{info.primaryDateOfBirth}}" name="primaryDateOfBirth" type="text" id="primaryDateOfBirth" class="form-control">
                    <label for="primaryDateOfBirth">Date of Birth</label>
                </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="form-input">
                <div class="radio-options">
                    <div class="radio-label">Gender: </div>
                    <div class="form-group radio-items">
                        {{#if radio.male}}
                        <input name="primaryGender" type="radio" id="male" value="male" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="male" value="male">
                        {{/if}}
                        <label for="male">Male</label>
                    </div>
                    <div class="form-group radio-items">
                        {{#if radio.female}}
                        <input name="primaryGender" type="radio" id="female" value="female" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="female" value="female">
                        {{/if}}
                        <label for="female">Female</label>
                    </div>
                    <div class="form-group radio-items">
                        {{#if radio.other}}
                        <input name="primaryGender" type="radio" id="other" value="other" checked="checked">
                        {{else}}
                        <input name="primaryGender" type="radio" id="other" value="other">
                        {{/if}}
                        <label for="other">Other</label>
                    </div>
                </div>
            </td>
            <td class="form-input">
                <div class="md-form">
                    Civil Status:
                    <select name="primaryCivilStatus">
                        {{#if radio.single}}
                        <option value="single" selected>Single</option>
                        {{else}}
                        <option value="single">Single</option>
                        {{/if}}
                        {{#if radio.married}}
                        <option value="married" selected>Married</option>
                        {{else}}
                        <option value="married">Married</option>
                        {{/if}}
                        {{#if radio.widowed}}
                        <option value="widowed" selected>Widowed</option>
                        {{else}}
                        <option value="widowed">Widowed</option>
                        {{/if}}
                    </select>
                </div>
            </td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="123ABC" value="{{info.primaryNumberAndStreet}}" name="primaryNumberAndStreet" type="text" id="primaryNumberAndStreet" class="form-control">
                      <label for="primaryNumberAndStreet">Number and Street</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="My Mom's Office Building" value="{{info.primarySubdivision}}" name="primarySubdivision" type="text" id="primarySubdivision" class="form-control">
                      <label for="primarySubdivision">Building / Subdivision</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="md-form">
                      <input placeholder="Quezon City" value="{{info.primaryCityAndProvince}}" name="primaryCityAndProvince" type="text" id="primaryCityAndProvince" class="form-control">
                      <label for="primaryCityAndProvince">City and Province</label>
                  </div>
              </td>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="123456" value="{{info.primaryZipcode}}" name="primaryZipcode" type="text" id="primaryZipcode" class="form-control">
                      <label for="primaryZipcode">Postal / Zip Code</label>
                  </div>
              </td>
          </tr>
          <tr>
              <td colspan="2"class="form-input">
                  <div class="md-form">
                      <input placeholder="Downtown" value="{{info.primaryTownAndDistrict}}" name="primaryTownAndDistrict" type="text" id="primaryTownAndDistrict" class="form-control">
                      <label for="primaryTownAndDistrict">Town and District</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
              </td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Birth: </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryPH}}
                          <input name="primaryBirthCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="birthCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryUSA}}
                          <input name="primaryBirthCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="birthCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.birthCountryOther}}
                          <input name="primaryBirthCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryBirthCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="birthCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Residency: </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryPH}}
                          <input name="primaryResidenceCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="residenceCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryUSA}}
                          <input name="primaryResidenceCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="residenceCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.residenceCountryOther}}
                          <input name="primaryResidenceCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryResidenceCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="residenceCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr>
              <td colspan="2" class="form-input">
                  <div class="radio-options">
                      <div class="radio-label">Country of Citizenship: </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryPH}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Philippines" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Philippines">
                          {{/if}}
                          <label for="citizenshipCountryPH">Philippines</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryUSA}}
                          <input name="primaryCitizenshipCountry" type="radio" value="United States of America" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="United States of America">
                          {{/if}}
                          <label for="citizenshipCountryUSA">USA</label>
                      </div>
                      <div class="form-group radio-items">
                          {{#if radio.citizenshipCountryOther}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Other" checked="checked">
                          {{else}}
                          <input name="primaryCitizenshipCountry" type="radio" value="Other">
                          {{/if}}
                          <label for="citizenshipCountryOther">Other</label>
                      </div>
                  </div>
              </td>
              <td></td>
          </tr>
          <tr>
              <td class="form-input">
                  <div class="md-form">
                      <input placeholder="860 754 4996" value="{{info.primaryContact}}" name="primaryContact" type="text" id="primaryContact" class="form-control">
                      <label for="primaryContact">Contact Number</label>
                  </div>
              </td>
              <td colspan="2" class="form-input">
                  Email: {{user.username}}
              </td>
          </tr>
        </table>
        <input type="submit" id="form1-submit" value="Submit">
    </form>
</div>
